$font-neucha: "Neucha", sans-serif;
$background-image: '../../assets/images/background.jpg';
$color-f: #32144C;
$color-buttons-del: #e6c0be;
$color-buttons-del-hover: #9e363f;
$color-buttons-completed: #aae5a7d9;
$color-buttons-completed-hover: #6cba66;
$color-modal-buttons: #6b4190;
$color-text-on-buttons: #ffffff;
$color-addedHabitCard: #f9f9f9a3;
$background-color-motivation: #eef3f0;
$background-color-list: #fff;
$background-color-motivation-article: rgba(76, 80, 123, 0.371);
$background-color-helpSummary: rgba(83, 87, 83, 0.1);
$border: #ddd;
$logo-size: (width: 550px, height: 200px);
$main-mascot: (width: 500px, height: 500px);
$hello-text: (width: 499px, height: 570px);
$achivement-img: (width: 200px, height: 200px);
$goButton-img: (width: 800px, height: 360px);
$mascot: (width: 270px, height: 290px);